.container {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 32px;
}

.section-body {
    display: flex;
    margin: 16px;
    gap: 16px;
}

#new-releases, #top-rated, #watch-again {
    display: flex;
    overflow-x: scroll;
    gap: 40px;
}